#intro-message{
	text-align: center;
	background-image: url("firingship.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 20px;
}

#intro-message button{
	width: 200px;
	height: 50px;
}

#reviews{
	margin: 0 auto;
}

#reviews blockquote{
	text-align: justify;
}

#reviews h2{
	text-align: center;
}

#reviews blockquote p{
	font-style: italic;
}

#reviews blockquote footer{
	color: #444;
}

#page-title{
	text-align: center;
}
